name: 'automated_testing_framework_plugin_firebase_storage'
description: "Library to use Google's Firebase Storage as a mechanism for automated tests and test results."
homepage: 'https://github.com/peiffer-innovations/automated_testing_framework_plugin_firebase_storage'
version: '5.0.1+15'

environment: 
  sdk: '>=2.19.0 <4.0.0'

dependencies: 
  automated_testing_framework: '^5.0.0+14'
  convert: '^3.1.1'
  firebase_auth: '^4.5.0'
  firebase_core: '^2.11.0'
  firebase_storage: '^11.1.2'
  flutter: 
    sdk: 'flutter'
  form_validation: '^3.0.0'
  json_class: '^2.2.1+3'
  logging: '^1.1.1'
  static_translations: '^2.1.2+12'

dev_dependencies: 
  flutter_test: 
    sdk: 'flutter'


dependency_overrides: 
  intl: '^0.18.0'

flutter: 
  uses-material-design: true

ignore_updates: 
  - 'archive'
  - 'async'
  - 'boolean_selector'
  - 'characters'
  - 'charcode'
  - 'collection'
  - 'clock'
  - 'crypto'
  - 'fake_async'
  - 'file'
  - 'matcher'
  - 'material_color_utilities'
  - 'meta'
  - 'path'
  - 'source_span'
  - 'stack_trace'
  - 'stream_channel'
  - 'string_scanner'
  - 'sync_http'
  - 'term_glyph'
  - 'test_api'
  - 'typed_data'
  - 'vector_math'
  - 'webdriver'
